Data ingestion

In [18]:
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table, text, inspect
from pandas.io.sql import get_schema

import pandas as pd

from dotenv import load_dotenv
import os

In [27]:
# Load environment variables from .env file
load_dotenv()

# Get the password from the environment variable
password = os.getenv("POSTGRES_PASSWORD")

# Define the database table and source data file name
table_name = 'customer_features_test' # for example purposes, change as needed
file_name = 'customer_features' # for example purposes, change as needed

In [20]:
# Define database connection
db_uri = f"postgresql+psycopg2://user:{password}@localhost:4321/mydb"
engine = create_engine(db_uri)

In [21]:
# Read the CSV file with the customer features into a DataFrame
df = pd.read_csv(f'../data/{file_name}.csv')

In [22]:
# experimental code to insert data into the database
# def get_date_by_month(month: int, year: int = 2025, day: int = 1):
#     return pd.to_datetime(f"{year}-{month:02d}-{day:02d}")

# # Example usage:
# print(get_date_by_month(10))

In [23]:
df.head()

,date,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,2025-02-01,-5.267845,9.038528,3.506074,1.947913,-3.836099,-7.881183,-6.630767,3.031991,4.007358,-1.163215
1,2025-02-01,4.499871,-10.104167,-7.327320,-5.869221,-5.388043,3.770325,-3.527629,3.677010,0.806800,-3.830497
2,2025-02-01,-1.864695,7.409254,1.027079,4.590485,-9.723322,-11.389294,-10.787192,10.718525,2.453576,2.656128
3,2025-02-01,-0.954003,7.600735,8.330657,0.955497,-9.700154,-9.760082,-6.176369,3.556917,9.508800,2.319533
4,2025-02-01,-11.978094,13.367322,5.373724,-9.332328,-8.575958,-1.504201,-0.463358,-2.716772,-3.166881,-2.796126

In [24]:
# Convert the 'date' column to datetime format with UTC timezone
df['date'] = pd.to_datetime(df['date'], utc=True)

In [25]:
# Confirm the data type of the 'date' column
df.date.dtype

datetime64[ns, UTC]

In [26]:
# Get the schema of the dataframe as it would be created in SQL

inspector = inspect(engine)
schema_sql = get_schema(df, name='table_name', con=engine)
print(schema_sql)

schema_sql = schema_sql.replace(
    'CREATE TABLE',
    'CREATE TABLE IF NOT EXISTS',
    1  # The '1' ensures we only replace the first instance
)
print(schema_sql)

CREATE TABLE table_name (
	date TIMESTAMP WITH TIME ZONE,
	x1 FLOAT(53),
	x2 FLOAT(53),
	x3 FLOAT(53),
	x4 FLOAT(53),
	x5 FLOAT(53),
	x6 FLOAT(53),
	x7 FLOAT(53),
	x8 FLOAT(53),
	x9 FLOAT(53),
	x10 FLOAT(53)
)



CREATE TABLE IF NOT EXISTS table_name (
	date TIMESTAMP WITH TIME ZONE,
	x1 FLOAT(53),
	x2 FLOAT(53),
	x3 FLOAT(53),
	x4 FLOAT(53),
	x5 FLOAT(53),
	x6 FLOAT(53),
	x7 FLOAT(53),
	x8 FLOAT(53),
	x9 FLOAT(53),
	x10 FLOAT(53)
)

... see the difference? "IF NOT EXISTS" added!

In [ ]:
# 1. Create an inspector object from the engine
inspector = inspect(engine)

# 2. Check if the table already exists in the database
if not inspector.has_table(table_name):
    print(f'Table {table_name} does not exist. Creating it now...')
    with engine.connect() as conn:
        conn.execute(text(schema_sql))
        conn.commit() # Commit the table creation
    print(f"Table {table_name} created successfully.")
else:
    print(f"Table {table_name} already exists.")

# 3. Append data
print(f'Appending data to {table_name} table...')
with engine.connect() as conn:
    df.to_sql(table_name, con=conn, if_exists='append', index=False)
    # The to_sql method in pandas often uses its own transaction handling,
    # but an explicit commit here is safe and good practice in SQLAlchemy 2.0.
    conn.commit()

print("Data successfully written to the database.")

Table customer_features_test does not exist. Creating it now...
Table customer_features_test created successfully.
Appending data to customer_features_test table...
Data successfully written to the database.