In [1]:
from evidently.report import Report
from evidently import ColumnMapping
from evidently.metrics import ColumnDriftMetric, DatasetDriftMetric, DatasetMissingValuesMetric

import pandas as pd

In [2]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Get database connection details from environment variables
db_user = os.getenv("POSTGRES_USER")
db_password = os.getenv("POSTGRES_PASSWORD")
db_host = os.getenv("POSTGRES_HOST")
db_port = os.getenv("POSTGRES_PORT")
db_name = os.getenv("POSTGRES_DBNAME")


# Create the connection string
connection_string = f"postgresql://{db_user}:{db_password}@localhost:4321/{db_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

In [9]:

# Query the customer_features table
reference_data = pd.read_sql("select * from customer_features where extract(month from date) = 1", engine)
current_data = pd.read_sql("select * from customer_features where extract(month from date) = 1", engine)

In [10]:
reference_data.drop(columns=['date'], inplace=True)
current_data.drop(columns=['date'], inplace=True)

In [11]:
# Create and run the data drift report
# report = Report([DataDriftPreset(drift_share=0.7)])
report = Report(metrics=[DatasetDriftMetric()])
report.run(reference_data=reference_data, current_data=current_data)

# Show the report in the notebook
report.show()

In [12]:

# Get dataset drift detection result as boolean
drift_result = report.as_dict()["metrics"][0]["result"]["dataset_drift"]
print(drift_result)

False

In [13]:
reference_data.head(2)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,-3.267453,8.607125,3.476517,-0.056344,-8.178182,-9.327990,-8.770161,5.783576,2.489872,1.049660
1,4.529118,-8.764866,-1.039529,-5.733686,2.380684,4.958168,-6.491922,-3.495332,0.938702,-11.150605

In [14]:
current_data.head(2)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,-3.267453,8.607125,3.476517,-0.056344,-8.178182,-9.327990,-8.770161,5.783576,2.489872,1.049660
1,4.529118,-8.764866,-1.039529,-5.733686,2.380684,4.958168,-6.491922,-3.495332,0.938702,-11.150605